 body {
     font-family: sans-serif;
     background-color: rgb(207, 181, 181);
     text-align:center;     
 }

 h1 {
    font-size: 3rem;
    padding-top: 3rem;
 }

 h2 {
    padding-top: 2rem;
    font-size: 2rem;
    color:#12c512;
}

 p {
    padding-top: 1rem;
    font-size: 1rem;
    margin-left: 20em;
    margin-right: 20em;
}

 img {
     vertical-align: middle;
     width: 500px;
     border:8px solid black;
     margin:8px; height:300px;
    }
 