 body {
     font-family: sans-serif;
     background-color: #ffff;
     text-align:center;
 }

 h1 {
     padding-top: 5rem;
     font-size: 3rem;
 }

 h2 {
    padding-top: 4rem;
    font-size: medium;
}

 img {
     vertical-align: middle;
     width: 500px;
 }

 p {font-size: 1rem;
     color:#12c512;
 }

 h2 {
     padding-top: ;
 }